@model Transport.Models.Tablas.TipoVehiculo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro que quiere eliminarlo?</h3>
<div>
    <h4>TipoVehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadMedida)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoVehiculoID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
